@import '../../scss/variables.scss';

.SearchBar {
  display: grid;
  grid-template-columns: 4fr 1.5rem;
  width: 250px;
  overflow: hidden;
  background-color: $blue-dark;
  margin-top: 5px;

  .SearchBar:focus-within i {
    display: none;
  }

  .SearchBar:focus-within .searchBox {
    grid-column: 1/4;
  }

  .SearchBar:focus-within .searchBox::placeholder {
    color: transparent;
  }

  .Icon {
    //padding: 0.5rem;
    grid-row: 1;
    grid-column: 2/4;
    z-index: 2;
  }

  input {
    border: 0;
    padding: 0.5rem;
    grid-column: 1/4;
    grid-row: 1;
    outline: none;
    color: $white;
    background-color: $blue-dark;
    font-size: 16px;

    &::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: $white;
      opacity: 0.6; /* Firefox */
    }
  }
}
